//
//  <%= @class_name %>Mediator.h
//  PureMVC_ObjectiveC
//
//  <%= @project_name %> by <%= @developer.capitalize %>
//  Copyright(c) <%= Time.now.year %>, All rights reserved.
//

#import "Mediator.h"

@interface <%= @class_name %>Mediator : Mediator {
	
}

@end