//
//  <%= @class_name %>ListMediator.h
//  <%= @project_name %>
//
//  Created by <%= @developer.capitalize %> on <%= @created_on %>
//  Copyright(c) <%= Time.now.year %>, All rights reserved.
//

#import <UIKit/UIKit.h>
#import "Mediator.h"
#import "<%= @class_name %>List.h"
#import "ApplicationFacade.h"

@interface <%= @class_name %>ListMediator : Mediator <<%= @class_name %>ListViewControllerDelegate>{
}

@end
