//
//  <%= @class_name %>FormMediator.h
//  PureMVC_ObjectiveC
//

#import <UIKit/UIKit.h>
#import "Mediator.h"
#import "<%= @class_name %>Form.h"
#import "ApplicationFacade.h"

@interface <%= @class_name %>FormMediator : Mediator <<%= @class_name %>FormViewControllerDelegate> {
}

@end
