//
//  <%= @class_name %>ListMediator.h
//  PureMVC_ObjectiveC
//

#import <UIKit/UIKit.h>
#import "Mediator.h"
#import "<%= @class_name %>List.h"
#import "ApplicationFacade.h"

@interface <%= @class_name %>ListMediator : Mediator <<%= @class_name %>ListViewControllerDelegate>{
}

@end
