//
//  UserListMediator.h
//  PureMVC_ObjectiveC
//

#import <UIKit/UIKit.h>
#import "Mediator.h"
#import "UserList.h"
#import "ApplicationFacade.h"

@interface UserListMediator : Mediator <UserListViewControllerDelegate>{
}

@end
