//
//  <%= @class_name %>Mediator.h
//  <%= @project_name %>
//
//  Created by <%= @developer.capitalize %> on <%= @created_on %>
//  Copyright(c) <%= Time.now.year %>, All rights reserved.
//

#import "Mediator.h"

@interface <%= @class_name %>Mediator : Mediator {
	
}

@end