//
//  UserFormMediator.h
//  PureMVC_ObjectiveC
//

#import <UIKit/UIKit.h>
#import "Mediator.h"
#import "UserForm.h"
#import "ApplicationFacade.h"

@interface UserFormMediator : Mediator <UserFormViewControllerDelegate> {
}

@end
