//
//  <%= @class_name %>Proxy.h
//  PureMVC_ObjectiveC
//

#import <UIKit/UIKit.h>
#import "Proxy.h"

@interface <%= @class_name %>Proxy : Proxy {
}

-(void)create:(id)item;
-(void)update:(id)item;
-(void)delete:(id)item;

@end
