//
//  <%= @class_name %>Proxy.h
//  PureMVC_ObjectiveC
//
//  <%= @project_name %> by <%= @developer.capitalize %>
//  Copyright(c) <%= Time.now.year %>, All rights reserved.
//

#import <UIKit/UIKit.h>
#import "Proxy.h"

@interface <%= @class_name %>Proxy : Proxy {
}

-(void)create:(id)item;
-(void)update:(id)item;
-(void)delete:(id)item;

@end
