//
//  Contacts.h
//  PureMVC_ObjectiveC
//

#import <UIKit/UIKit.h>
#import "UserList.h"
#import "UserForm.h"

@interface Contacts : UIView {
	UINavigationController *navigation;
	UserList *userList;
	UserForm *userForm;
}

@property(nonatomic, retain) UINavigationController *navigation;
@property(nonatomic, retain) UserList *userList;
@property(nonatomic, retain) UserForm *userForm;

-(void)showUserForm;
-(void)showUserList;
-(void)showError:(NSString *)message;

@end
