//
// Prefix header for all source files of the '<%= @class_name %>' target in the '<%= @project_name %>' project
//

#ifdef __OBJC__
    #import <Foundation/Foundation.h>
    #import <UIKit/UIKit.h>
#endif
