//
//  main.m
//  <%= @class_name %>
//
//  Created by <%= @developer.capitalize %> on <%= created_on %>
//  Copyright(c) <%= Time.now.year %>, All rights reserved.
//

#import <UIKit/UIKit.h>

int main(int argc, char *argv[]) {
    
    NSAutoreleasePool * pool = [[NSAutoreleasePool alloc] init];
    int retVal = UIApplicationMain(argc, argv, nil, @"<%= @class_name %>AppDelegate");
    [pool release];
    return retVal;
}
