//
//  main.m
//  <%= @class_name %>
//
//  Created by eiffel on 11-2-16.
//  Copyright 2011 Redsafi. All rights reserved.
//

#import <UIKit/UIKit.h>

int main(int argc, char *argv[]) {
    
    NSAutoreleasePool * pool = [[NSAutoreleasePool alloc] init];
    int retVal = UIApplicationMain(argc, argv, nil, @"<%= @class_name %>AppDelegate");
    [pool release];
    return retVal;
}
