//
//  Create<%= @class_name %>Command.h
//  <%= @project_name %>
//
//  Created by <%= @developer.capitalize %> on <%= @created_on %>
//  Copyright(c) <%= Time.now.year %>, All rights reserved.
//

#import "SimpleCommand.h"


@interface Create<%= @class_name %>Command : SimpleCommand {
	
}

@end