//
//  DeleteUserCommand.m
//  PureMVC_ObjectiveC
//

#import "DeleteUserCommand.h"
#import "UserProxy.h"
#import "UserVO.h"

@implementation DeleteUserCommand

-(void)execute:(id<INotification>)notification {
	UserProxy *userProxy = (UserProxy *)[facade retrieveProxy:[UserProxy NAME]];
	UserVO *userVO = [notification body];
	[userProxy delete:userVO];
}

@end
