//
//  GetUsersCommand.h
//  PureMVC_ObjectiveC
//

#import "GetUsersCommand.h"
#import "ApplicationFacade.h"
#import "UserProxy.h"

@implementation GetUsersCommand

-(void)execute:(id<INotification>)notification {
	UserProxy *userProxy = (UserProxy *)[facade retrieveProxy:[UserProxy NAME]];
	[facade sendNotification:GetUsersSuccess body:userProxy.data];
}

@end
