//
//  <%= @project_name %>Tests.h
//  <%= @project_name %>Tests
//
//  Created by <%= @developer.capitalize %> on <%= @created_on %>
//  Copyright(c) <%= Time.now.year %>, All rights reserved.
//

#import <SenTestingKit/SenTestingKit.h>

@interface <%= @project_name %>Tests : SenTestCase

@end
