//
//  <%= @class_name %>AppDelegate.h
//  <%= @class_name %>
//

#import <UIKit/UIKit.h>

@interface <%= @class_name %>AppDelegate : NSObject <UIApplicationDelegate> {
    UIWindow *window;
}

@property (nonatomic, retain) IBOutlet UIWindow *window;

@end

