//
//  ContactsAppDelegate.h
//  Contacts
//
//  Created by eiffel on 11-2-16.
//  Copyright 2011 Redsafi. All rights reserved.
//

#import <UIKit/UIKit.h>

@interface ContactsAppDelegate : NSObject <UIApplicationDelegate> {
    UIWindow *window;
}

@property (nonatomic, retain) IBOutlet UIWindow *window;

@end

