//
//  <%= @class_name %>AppDelegate.h
//  <%= @class_name %>
//
//  <%= @project_name %> by <%= @developer.capitalize %>
//  Copyright(c) <%= Time.now.year %>, All rights reserved.
//

#import <UIKit/UIKit.h>

@interface <%= @class_name %>AppDelegate : NSObject <UIApplicationDelegate> {
    UIWindow *window;
}

@property (nonatomic, retain) IBOutlet UIWindow *window;

@end

